$mailColor : #35cac5;
$blackColor : #000;
$whileColor : #fff;
$grColor : #aaaaaa;
$ver: 1;

*{
    box-sizing: border-box;
}


.drumMachine{
    width: 385px;
    padding: 15px;
    background-color: #3f3f3f;
    margin: 0 auto;
    margin-top: 30px;
    color: $grColor;
    height: 600px;
}
.drum-display{
    background-color: #202020;
    color: #35cac5;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 15px;
    text-align: center;
    height: 70px;
}
.drum-control{
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
}
.drum-control-volum{
    margin-left: 5px;
    width: calc(100% - 140px);
}
.drum-control-bank{
    width: 120px !important;
    position: relative;
    height: 100px;
}
.drum-pad{
    margin-top: 40px;
    width: 100%;
    justify-content: space-around;
    color: #aaaaaa;
}
.drum-pad-row{
    display: flex;
}
.drum{
    width: calc(100%/3) !important;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border: 1px solid #000;
    transition: all .35s ease-in-out;
    color: #aaaaaa;
    font-style: 16px !important;
}

.slider{
    transition: all .35s ease-in-out;
    margin-left: 10px;
    position: absolute;
    cursor: pointer;
    display: block;
    border-radius: 15px;
    bottom: 0;
    background-color: #202020;
    border: 1px solid #000;
    color: #aaaaaa;
    width: 60%;
    height: 25px;
    
    &::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 25px;
    background-color: #35cac5;
    border-radius: 50%;
    }
}
.slider:active{
    @if ($ver==1) {
        .slider::before{
            right: 0 !important;

        }
        $ver:2;
    }
    @if ($ver==2) {
        .slider::before{
            right: 0 !important;

        }
        $ver:1;
    }
    
}
.active{
    background-color: $mailColor;
}