$mailColor : #35cac5;
$blackColor : #000;
$whileColor : #fff;
$grColor : #aaaaaa;


*{
    box-sizing: border-box;
}


.drumMachine{
    width: 385px;
    padding: 15px;
    background-color: #3f3f3f;
    margin: 0 auto;
    margin-top: 30px;
    color: $grColor;
    height: 600px;
}
.drum-display{
    background-color: #202020;
    color: #35cac5;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 15px;
    text-align: center;
}
.drum-control{
    justify-content: space-between;
    margin-top: 30px;
    display: flex;
}
.drum-control-volum{
    margin-left: 5px;
    width: calc(100% - 140px);
}
.drum-control-bank{
    width: 120px !important;
}
.drum-pad{
    margin-top: 40px;
    width: 100%;
    justify-content: space-around;
    color: #aaaaaa;
}
.drum-pad-row{
    display: flex;
}
.drum{
    width: calc(100%/3) !important;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border: 1px solid #000;
    transition: all .35s ease-in-out;
    color: #aaaaaa;
    font-style: 16px !important;
}

.slider{
    transition: all .35s ease-in-out;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #202020;
    border: 1px solid #000;
    color: #aaaaaa;
    width: 10px;
    height: 5px;
    &::before{
        content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: #35cac5;
    }
}
.active{
    background-color: $mailColor;
}